In [1]:
import pandas as pd
from micromort.data_stores.mysql import db, cursor

### Get tweet_id to url mapping:

In [2]:
tweets_urls = pd.read_csv("../../data/tweetid_url_map.csv", delimiter="\t", header=None, names= ["tweet_id", "url"])

In [3]:
len(tweets_urls.url.unique())

359920

In [18]:
tweets_urls.head()

             tweet_id                                                url
0  995956477167898625  https://www.theguardian.com/environment/2018/m...
1  995956478854000641        http://www.bbc.com/news/world-asia-44105279
2  995956485929734145  https://www.nytimes.com/2018/05/13/nyregion/ma...
3  995956486735097857  https://www.theguardian.com/commentisfree/2018...
4  995956486735097857  https://www.theguardian.com/commentisfree/2018...

### Get tweets with states:

In [15]:
cursor.execute('Select tweet_id, state, country from newsTweets_location where state <> ""')
location_tweet_data = cursor.fetchall()

In [16]:
len(location_tweet_data)

1512012

In [19]:
location_tweet_data[:10]

((995956479059361792L, 'Jharkhand', 'India'),
 (995956478854000641L, 'England', 'United Kingdom'),
 (995956485929734145L, 'Nairobi', 'Kenya'),
 (995956487913549824L, 'Selangor', 'Malaysia'),
 (995956488739803136L, 'Madhya Pradesh', 'India'),
 (995956489276809216L, 'England', 'United Kingdom'),
 (995956492917325825L, 'Western Australia', 'Australia'),
 (995956493882081282L, 'California', 'United States'),
 (995956495245340673L, 'England', 'United Kingdom'),
 (995956500408537089L, 'Rio De Janeiro', 'Brazil'))

### Merge

In [ ]:
tweet_url_df = pd.DataFrame(columns=['tweet_id', 'country', 'state', 'url'])
for row in location_tweet_data:
    urls = tweets_urls[tweets_urls.tweet_id == row[0]].url.unique()
    urls_len = len(urls)
    if not urls_len:
        continue
    tweet_url_df = tweet_url_df.append(
        pd.DataFrame(
            {"url":urls, "tweet_id":[row[0]]*urls_len, "country":row[2]*urls_len, "state" : row[1]*urls_len}))

In [51]:
tweet_url_df.head()

,country,state,tweet_id,url
0,w,d,123,wow
0,w,d,123,wow
0,w,d,123,wow
1,w,d,123,what
0,United Kingdom,England,995956478854000641,http://www.bbc.com/news/world-asia-44105279
0,Kenya,Nairobi,995956485929734145,https://www.nytimes.com/2018/05/13/nyregion/ma...
0,Malaysia,Selangor,995956487913549824,https://www.thestar.com.my/news/nation/2018/05...
0,India,Madhya Pradesh,995956488739803136,https://www.ndtv.com/business/karnataka-electi...
0,United Kingdom,England,995956489276809216,https://www.theguardian.com/politics/2015/apr/...
0,Australia,Western Australia,995956492917325825,https://www.thestar.com.my/news/nation/2018/05...
0,United States,California,995956493882081282,https://mobile.nytimes.com/2016/12/12/us/polit...
0,United Kingdom,England,995956495245340673,https://www.theguardian.com/politics/2017/jan/...
0,Brazil,Rio De Janeiro,995956500408537089,http://www.bbc.com/portuguese/brasil-44091474?...
0,United Kingdom,England,995956500949483520,https://www.theguardian.com/books/2018/may/13/...
0,Indonesia,East Java,995956501192654848,https://bbc.in/2GaprYR
0,India,Tamil Nadu,995956503726075904,https://www.indiatoday.in/india/story/modi-gov...
0,United Kingdom,England,995956505475211264,https://www.theguardian.com/world/2018/may/13/...
0,South Africa,Gauteng,995956514140680192,https://www.yahoo.com/news/half-western-lowlan...
0,Pakistan,Sindh,995956519723241472,https://bbc.in/2KkRlnz
0,United Kingdom,England,995956522227204096,https://www.independent.co.uk/sport/football/n...
0,United Kingdom,England,995956526962659328,http://news.bbc.co.uk/1/hi/world/south_asia/78...
0,United Kingdom,England,995956530053775360,https://bbc.in/2L2q8XA
0,United States,Alabama,995956538564104192,https://www.nytimes.com/2018/05/13/business/ed...
0,United Kingdom,England,995956539700760576,https://www.theguardian.com/commentisfree/2018...
0,United Kingdom,England,995956541210742784,https://bbc.in/2KUg96G
0,Australia,Queensland,995956544154972160,https://www.theguardian.com/environment/2018/m...
0,India,Maharashtra,995956545933410304,http://indianexpress.com/article/india/bjp-lea...
0,United Kingdom,England,995956558466084864,https://www.theguardian.com/politics/2017/jan/...
0,United Kingdom,England,995956559372054528,https://www.theguardian.com/society/2018/apr/0...
0,United Kingdom,England,995956567613870080,https://www.theguardian.com/commentisfree/2018...
...,...,...,...,...
0,United Kingdom,England,995956669614977024,https://www.channelnewsasia.com/news/asia/mala...
0,United Kingdom,England,995956669971562496,https://bbc.in/2IezkKL
0,India,Maharashtra,995956690162978817,http://indianexpress.com/article/india/bjp-lea...
0,United States,Hawaii,995956693212246016,https://www.yahoo.com/finance/news/trump-admin...
0,United States,California,995956693350649856,https://www.nytimes.com/2018/05/13/us/lindsey-...
0,United States,California,995956697222049792,https://www.nytimes.com/aponline/2018/05/14/us...
0,India,Tamil Nadu,995956699356778497,http://www.thehindu.com/todays-paper/tp-nation...
0,United States,California,995956699054968833,https://www.nytimes.com/reuters/2018/05/14/spo...
0,United Kingdom,England,995956682709721088,https://edition.cnn.com/2018/05/08/health/clim...
0,United States,New Jersey,995956701877678080,https://www.theguardian.com/lifeandstyle/2012/...
0,United Kingdom,England,995956709855236096,https://www.bbc.co.uk/programmes/b0b2hr55
0,India,Delhi,995956717849595904,http://indianexpress.com/article/cities/delhi/...
0,India,Andhra Pradesh,995956719434874880,http://www.thehindu.com/news/international/naw...
0,United Kingdom,England,995956720794066944,https://www.theguardian.com/money/2018/may/11/...
0,United Kingdom,England,995956733112700928,https://www.theguardian.com/uk-news/2018/may/1...
0,United States,Massachusetts,995956735239221248,http://www.bbc.com/news/world-asia-china-42834609
0,United States,Virginia,995956736149336064,https://www.yahoo.com/news/trump-attorney-giul...
0,United Kingdom,England,995956736921100288,https://www.theguardian.com/film/gallery/2018/...
0,United States,North Carolina,995956739156725760,https://nyti.ms/2KTdk65
0,Malaysia,Selangor,995956742138691584,https://www.thestar.com.my/news/nation/2018/05...
0,United States,Hawaii,995956747557732352,https://nyti.ms/2KTdk65
0,India,Andhra Pradesh,995956749147492352,https://trendingatoz.com/bbc/africa/cameroon/
0,India,Karnataka,995956753702387712,http://indianexpress.com/article/india/petrol-...
0,United Kingdom,England,995956753522098176,https://www.theguardian.com/uk-news/ng-interac...
0,United KingdomUnited Kingdom,EnglandEngland,995956755153768449,https://www.theguardian.com/politics/2018/may/...
1,United KingdomUnited Kingdom,EnglandEngland,995956755153768449,https://medium.com/@forourfuturesake/dear-parl...
0,United States,Maine,995956755468312576,https://www.nytimes.com/2018/05/12/us/politics...
0,United Kingdom,England,995956758349864960,http://www.bbc.com/news/uk-44101183
0,Singapore,Central Singapore,995956759897542656,https://www.theguardian.com/cities/2017/mar/21...
0,India,Maharashtra,995956763601002496,http://indianexpress.com/article/india/manmoha...

In [55]:
tweet_url_df.shape, tweet_url_df.drop_duplicates().shape

((89, 4), (87, 4))

### Tweets with URL and location:

In [ ]:
tweet_url_df.tweet_id.unique().shape